<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Compétions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="home.css">

</head>

<body>
    <div class="navbar">
        <a class="navbar-item navbar-brand" href="home.html">Home</a>
        <a class="navbar-item navbar-brand" href="home.html">Compétions</a>

        <div class="navbar-end">
            <span class="icon">⚽️</span>
        </div>
    </div>
    <section class="background-style">
        <div class="home-content animated bounce">
            <div class="content welcome">
            </div>
            <div class="content welcome">
            </div>
            <div class="content welcome">

            </div>
            <div class="content welcome">
            </div>

        </div>

    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <center>
                <strong class="footer-data">Football Soccer Data ©</strong>
            </center>
        </div>

    </footer>

</body>

</html>